body {
    text-align: center;
    background-color: #312040;
    margin: 0;
    color: #ffffff;
    font-family: 'Orelega One', cursive;
}
.container {
    position: relative;
    text-align: center;
}
img {
    width: 100%;
}
h1 {
    font-size: 90px;
    line-height: 80%;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
#subhead {
    font-size: 70px;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 0.1px solid rgb(216, 213, 213);
    background-color: white;
}

table {
    border-collapse: collapse;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}
input[type=number] {
    width: 5em;
    border: 0px;
}
input[type=submit] {
    border: 0px;
    color :#f08000;
    font-family: 'Orelega One', cursive;
}